.newarrival_items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.newarrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:70px;
    padding-bottom: 150px;
}